name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  noop:
    runs-on: ubuntu-latest
    steps:
      - run: "echo \"No CI template matched.\" && exit 1"
